@import "tailwindcss";

@theme {
  --color-brand-navy: var(--color-brand-navy);
  --color-brand-steel: var(--color-brand-steel);
  --color-brand-accent: var(--color-brand-accent);
  --color-brand-light: var(--color-brand-light);
  --color-brand-orange: var(--color-brand-orange);
  --color-brand-bg: var(--color-brand-bg);

  --font-bebas: var(--font-bebas-neue);
  --font-sans: var(--font-montserrat);
}

:root {
  --color-brand-navy: #08255B;
  --color-brand-steel: #3C5477;
  --color-brand-accent: #7D8FAB;
  --color-brand-light: #C3D2E4;
  --color-brand-orange: #C54C21;
  --color-brand-bg: #F8FCFE;
}